<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/bootstrap.php" convertErrorsToException='true' convertNoticesToException='true' convertWarningsToExceptions='true' stopOnFailures='false' syntaxCheck='false' beStrictAboutTestsThatDoNotTestAnything="false">
	<testsuites>
		<testsuite name="User testsuite">
			<file>tests/Freedom/Service/UserTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>